/* components/LayoutWithNavigation/LayoutWithNavigation.css */
.layout-with-navigation {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  padding-bottom: 80px; /* Asegura espacio para la navegación */
}